@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

@theme {
  /* Width & Screens */
  --width-desktop: 1440px;
  --breakpoint-desktop: 1440px;

  /* Font Families */
  --font-family-inter: 'Inter';
  --font-family-satoshi: 'Satoshi';

  /* Colors */
  --color-primary-color: #ecf2f9;
  --color-secondary-color: #ffffff;
  --color-third-color: #222222;

  --color-accent-color: #4b5945;
  --color-accent-secondary-color: #29405b;

  --color-inactive-color: #a1a0a0;
  --color-border-color: #8d8a9d80;
  --color-text-primary-color: #38315a;
  --color-text-secondary-color: #8d8a9d;
}

* {
  @apply m-0 p-0 box-border;
}

body {
  @apply font-family-inter;
}
