@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'remixicon/fonts/remixicon.css';
@import 'tailwindcss';

@theme {
  /* Width & Screens */
  --width-desktop: 1440px;
  --breakpoint-desktop: 1440px;

  /* Font Families */
  --font-family-inter: 'Inter';
  --font-family-satoshi: 'Satoshi';

  /* Colors */
  --color-primary-color: #ffffff;
  --color-secondary-color: #e2e4dd;
  --color-third-color: #151515;
  --color-fourth-color: #323232;
  --color-card-color: #f5f5f5;

  --color-accent-color: #5fff5b;
  --color-accent-secondary-color: #29405b;

  --color-inactive-color: #a1a0a0;
  --color-border-color: #59595980;
  --color-text-primary-color: #121212;
  --color-text-secondary-color: #8d8a9d;
  --color-text-third-color: #808080;
}

/* GENERAL */
body {
  @apply font-family-inter;
}

.section-container {
  @apply max-w-[95%] md:max-w-[90%] lg:max-w-[85%] 2xl:max-w-[1440px] mx-auto;
}

/* TEXT */
.text-display {
  @apply font-family-inter text-4xl md:text-5xl lg:text-5xl 2xl:text-6xl leading-tight tracking-tight;
}

.medium-heading {
  @apply font-family-inter text-3xl 2xl:text-4xl leading-snug tracking-tight;
}

.small-heading {
  @apply font-family-inter text-lg md:text-xl leading-snug tracking-tight;
}

.text-body {
  @apply font-family-inter text-base 2xl:text-lg;
}

.text-small {
  @apply font-family-inter text-sm md:text-base leading-relaxed;
}

.text-badge {
  @apply font-family-inter leading-none text-sm md:text-base;
}

/* BUTTONS */
.button-primary {
  @apply w-fit flex flex-row items-center gap-2 bg-accent-color text-black font-family-inter text-base  py-3 px-6 rounded-full hover:brightness-95 transition-all hover:cursor-pointer;
}

.button-secondary {
  @apply w-fit flex flex-row items-center gap-2 text-nowrap bg-third-color text-primary-color font-family-inter text-base  py-3 px-6 rounded-full hover:brightness-95 transition-all hover:cursor-pointer;
}

.button-outline {
  @apply flex flex-row items-center gap-2 text-nowrap bg-transparent border border-[#8E8E8E] text-fourth-color font-medium font-family-inter text-base  py-3 px-6 rounded-full hover:brightness-95 transition-all hover:cursor-pointer;
}

.button-white {
  @apply flex flex-row items-center gap-2 text-nowrap bg-primary-color text-third-color font-family-inter text-base  py-3 px-6 rounded-full hover:brightness-95 transition-all hover:cursor-pointer;
}

/* NAVIGATION */
.nav-link-underline {
  @apply absolute bottom-0 w-0 h-0.5 bg-accent-color group-hover:w-full transition-all duration-300;
}

.scrolled {
  @apply !w-[70%] transition-all ease-out duration-500;
}

.swiper-button-next-custom,
.swiper-button-prev-custom {
  @apply flex w-20 h-12 items-center justify-center px-8 rounded-2xl bg-text-primary-color text-primary-color;
}
.swiper-pagination-bullet {
  @apply bg-white/50!;
}

.swiper-pagination-bullet-active {
  @apply bg-accent-color!;
}

.marquee-card {
  @apply w-56 xl:w-72 2xl:w-[312px];
}

.marquee-col {
  @apply w-56 xl:w-72 2xl:w-[312px];
}
