@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

@theme {
  /* Width & Screens */
  --width-desktop: 1440px;
  --breakpoint-desktop: 1440px;

  /* Font Families */
  --font-family-inter: 'Inter';
  --font-family-satoshi: 'Satoshi';

  /* Colors */
  --color-primary-color: #ffffff;
  --color-secondary-color: #e2e4dd;
  --color-third-color: #151515;

  --color-accent-color: #5fff5b;
  --color-accent-secondary-color: #29405b;

  --color-inactive-color: #a1a0a0;
  --color-border-color: #8d8a9d80;
  --color-text-primary-color: #121212;
  --color-text-secondary-color: #8d8a9d;
}

/* GENERAL */
body {
  @apply font-family-inter;
}

/* BUTTONS */
.button-primary {
  @apply bg-accent-color text-black font-family-inter text-base  py-3 px-6 rounded-full hover:brightness-95 transition-all hover:cursor-pointer;
}

/* NAVIGATION */
.nav-link-underline {
  @apply absolute bottom-0 w-0 h-0.5 bg-accent-color group-hover:w-full transition-all duration-300;
}

.scrolled {
  @apply !w-[70%] transition-all duration-500;
}
